<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<h1>homepage</h1>
<a href="/user/create">create user</a><br>
<a href="/user/show">Details</a><br>
<a href="/user/update">Update</a><br>
<a href="/user/delete">Delete</a>

  </body>
</html>
